@using DayCare.Models;
@{
    ViewBag.Title = "Output";
}

@{
    var data =(Student) ViewData["myperson"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color:beige">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Details</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">First Name</th>
                <td></td>

            </tr>
            <tr>
                <th scope="row">Last Name</th>

            </tr>
            <tr>
                <th scope="row">Date Of Birth</th>

            </tr>
            <tr>
                <th scope="row">Teacher</th>

            </tr>
            <tr>
                <th scope="row">Class</th>

            </tr>
            <tr>
                <th scope="row">Date of Joining</th>

            </tr>
            <tr>
                <th scope="row">Required Vaccination</th>

            </tr>
        </tbody>
    </table>
</body>
</html>
