<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Home/formoutput" method="post">

        <div class="form-group">
            <label for="Name">First Name</label>
            <input type="text" class="form-control" id="s_name" name="first_name" placeholder="Enter First Name">
        </div>
        <div class="form-group">
            <label for="Name">Last Name</label>
            <input type="text" class="form-control" id="s_name" name="last_name" placeholder="Enter Last Name">
        </div>

        <div class="form-group">
            <label for="Age">Age</label>
            <input type="number" class="form-control" id="Age" name="Age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="DateOfJoining">Date Of Birth</label>
            <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" placeholder="Enter Date Of Joining">
        </div>
        <div class="form-group">
            <label for="Father'sName">Father's Name</label>
            <input type="text" class="form-control" id="F_Name" name="Father_Name" placeholder="Enter Father's Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="Phone">Password</label>
            <input type="password" class="form-control" id="phone" name="password" placeholder="Phone">
        </div>


        <div class="form-group">
            <label for="Phone">Phone Number</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>