<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Home/Review" method="post">
        <div class="form-group">
            <label for="id">Student Id:</label>
            <input type="number" class="form-control" id="student">
        </div>
        <select name="teacher" >
            <option>Select your teacher</option>
            <option value="red">Aayush</option>
            <option value="blue">Kelvin</option>
            <option value="others">sindhu</option>
            <option value="others">Ujwal</option>

        </select>
        
       
        
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
            <label class="custom-control-label" for="defaultUnchecked">good</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
            <label class="custom-control-label">better</label>

        </div>

        <div class="custom-control custom-radio">

            <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
            <label class="custom-control-label">Best</label>

        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Feed Back</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>


